PORT=3000

DB_PATH=DATA

WA_SESSION_PATH=PATH
WA_RECONNECT_MAX_ATTEMPTS=5
WA_RECONNECT_BASE_DELAY_SECONDS=5

TZ=Europe/Madrid
WORK_HOURS_START=8
WORK_HOURS_END=19

SMTP_HOST=smtp.mardev.es
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=correo@mardev.es
SMTP_PASS=contraseña

SMTP_FROM="Fake Early Bird <correo@mardev.es>"

NOTIFY_EMAIL=correo@gmail.com
NOTIFY_ON_DISCONNECT=true

RANDOM_DELAY_MIN_SECONDS=30
RANDOM_DELAY_MAX_SECONDS=180
TYPING_BASE_DELAY_MS=1000
TYPING_MS_PER_CHAR=40

CONTACT_COOLDOWN_MINUTES=1
MAX_MESSAGES_PER_CONTACT_PER_DAY=10
SCHEDULE_VARIATION_MINUTES=1