node_modules/

dist/

.env

.wwebjs_auth/
.wwebjs_cache/

.wwebjs_auth_docker
.wwebjs_cache_docker

data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

logs/
*.log

.DS_Store
Thumbs.db

.vscode/

dist/

docker-data/

*.sqlite